# Python-related files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env/

# Compiled files
*.pyc
*.pyo
*.pyd

# Dependency directories
.idea/
.vscode/
__pycache__/
*.egg-info/
dist/
build/

# Environment variables file
.env
